*{
  margin:0;
  padding:0;  
  box-sizing: border-box;
}

body{
   background-color: #ffc600;
   font-size: 20px;
   margin:auto 25%;

}

input{
  width:100%;
  padding:20px;
}

.container{
  position:relative;
  width:400px;
  top:70px;
  left:50px;
}

ul{
  margin: 0;
  padding: 0;
  display:flex;
  flex-direction: column;
  align-items: center;
}

.search{
  border: 8px solid #f5f0f0;
}

li{
  width:90%;
  list-style:none;
  background-color:#f5f0f0;
  padding: 10px;
  border-bottom: 2px solid #b1afafa9;
}

.color{
  background-color: #ffc600;
}